h1,h2,h3{
    color:black;
    font-family:cursive;
    font-weight:bolder;
    border:5px solid  royalblue;
    background-color:bisque;
    border-radius: 30%;
    font-variant: small-caps;
    text-align: center;
    font-size: 2vw;
    width: auto;
    
}
p{
    color: black;
    font-family: cursive;
    font-weight:bold;
    font-size:1vw;

}

div.transbox{
    margin-left: auto;
    margin-right: auto;
    display:flexbox;
    opacity:0.8;
    background-color:#ffffff;
    border-radius: 5%;
    background-color: aqua;

    
}
.content{

    box-sizing: border-box;
    margin: auto;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    opacity:1;
    border-radius: 2%;
    border: double 15px red;
    position: absolute;
  
}
.name{
   text-align: right; 
   font-size:1vw;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .content , .transbox {
      width: 100%;
    }
  }